<table class="shadow13" width="970" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td>
			<div align="center"><br/>

<table>
	<tr>
		<td>




<table class="shadow6" height="40" width="600" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td width="98"><font color="#F1F7CE">&nbsp;<%= link_to "Home", homes_path, :class => 'mylink' %> | <%= link_to "Profile", empprofiles_path, :class => 'mylink'  %></font>
		</td>
	</tr>
</table>

<table class="shadow12" height="40" width="600" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td>

<h1>Add Position</h1>

<%= form_for @experience do |profile| %>
	<p>
		<table>
			<tr>
				<td>
					
					Position

				</td>
				<td width="650">
					<hr noshade color="#544E4F"/>
				</td>
			</tr>
		</table>
		
	</p>

	<p>
		<table>
			<tr>
				<td align="right" width="120">
					<%= profile.label "Company Name:" %>
				</td>
				<td>
					<%= profile.text_field :companyname, :class  => "tbox" %>
				</td>
			</tr>
		</table>
	</p>

	<p>
		<table>
			<tr>
				<td align="right" width="120">
					<%= profile.label "Title:" %>
				</td>
				<td>
					<%= profile.text_field :title, :class  => "tbox" %>
				</td>
			</tr>
		</table>
	</p>

	<p>
		<table>
			<tr>
				<td align="right" width="120">
					<%= profile.label "Location:" %>
				</td>
				<td>
					<%= profile.text_field :location, :class  => "tbox" %>
				</td>
			</tr>
		</table>
	</p>

	<p>
		<table>
			<tr>
				<td align="right" width="120">
					<%= profile.label "Time Period:" %>
				</td>
				<td>
					<font size="2"><%= profile.select :timeperiodfrom, Month::MONTH %>
					Year: <%= profile.text_field :timeperiodfromyear, :size => 05 %>
					to:
					<%= profile.select :timeperiodto, Month2::MONTH %>
					Year: <%= profile.text_field :timeperiodtoyear, :size => 05 %></font>
				</td>
			</tr>
		</table>
	</p>

	<p>
		<table>
			<tr>
				<td align="right" width="120" valign="top">
					<%= profile.label "Description:" %>
				</td>
				<td>
					<%= profile.text_area :description, :class  => "tbox2", :size => "58x20" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= profile.hidden_field :user_id, :value => current_employee.id %>
				</td>
				<td>
					<%= profile.submit "Save Changes", :class => "submit" %><font size="2"> or <%= link_to "Go back to Edit My Profile", empprofiles_path %></font>
				</td>
			</tr>
		</table>
	</p>
<% end %>
</td>
	</tr>
</table>

</td>

<td valign="top">
<table class="shadow6" height="40" width="300" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td width="98" align="center"><font color="#F1F7CE">&nbsp;Did you know?</font>
		</td>
	</tr>
</table>
<table class="shadow12" height="40" width="300" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td>
			<font size="2"><b>4 Resume Tips You Need to Know to Get Hired</b><br/><br/>

1. Be clear about what you want. State your objective in a concise manner.<br/><br/>
2. Don’t just list your job skills. List real problems you solved and the measurable results you achieved.<br/><br/>
3. Showcase your strengths by citing key achievements, appointments or awards you’ve earned.<br/><br/>
4. And of course, no errors! Have others proofread your resumes and cover letters.<br/><br/>

			</font>
		</td>
	</tr>
	
</table>
</td>
	</tr>

</table><br/>
</td>
	</tr>
</table>

<br/><br/><br/><br/>