<table class="shadow13" width="970" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td>
			<div align="center"><br/>

<table>
	<tr>
		<td>




<table class="shadow6" height="40" width="600" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td width="98"><font color="#F1F7CE">&nbsp;<%= link_to "Home", homes_path, :class => 'Employees', :class => 'mylink'   %> | <%= link_to "Employees", indexforhr_path, :class => 'mylink'  %></font>
		</td>
	</tr>
</table>

<table class="shadow12" height="40" width="600" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td>

<% employeedid = @basicinfo.user_id %>
<%= form_for @inbox do |message| %>
<table>
	<tr>
		<td align="right">
			Subject:
		</td>
		<td>
			<%= message.text_field :subject, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td align="right">
			Company Name:
		</td>
		<td>
			<%= message.text_field :companyname, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td align="right">
			Location:
		</td>
		<td>
			<%= message.text_field :location, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td align="right">
			Telephone:
		</td>
		<td>
			<%= message.text_field :telephone, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td align="right">
			Mobile:
		</td>
		<td>
			<%= message.text_field :mobile, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td align="right">
			Email:
		</td>
		<td>
			<%= message.text_field :email, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
			Message:
		</td>
		<td>
			<%= message.text_area :message, :class => "tbox" %>
		</td>
	</tr>
	<tr>
		<td>
			<%= message.hidden_field :user_id, :value => employeedid %>
		</td>
		<td align="right">
			<%= message.submit "Send Message", :class => "submit" %>
		</td>
	</tr>

</table>
<% end %>
</td>
	</tr>
</table>

</td>

<td valign="top">
<table class="shadow6" height="40" width="300" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td width="98" align="center"><font color="#F1F7CE">&nbsp;Did you know?</font>
		</td>
	</tr>
</table>
<table class="shadow12" height="40" width="300" border="0" cellpading="0" cellspacing="0">
	<tr>
		<td>
			<font size="2"><b>4 Resume Tips You Need to Know to Get Hired</b><br/><br/>

1. Be clear about what you want. State your objective in a concise manner.<br/><br/>
2. Don’t just list your job skills. List real problems you solved and the measurable results you achieved.<br/><br/>
3. Showcase your strengths by citing key achievements, appointments or awards you’ve earned.<br/><br/>
4. And of course, no errors! Have others proofread your resumes and cover letters.<br/><br/>

			</font>
		</td>
	</tr>

</table>
</td>
	</tr>

</table><br/>
</td>
	</tr>
</table>

<br/><br/><br/><br/>